$brand-primary: #212e39;
$brand-secondary: #f1f5f8;
$brand-tertiary: #565758;
$brand-action: #2c97de;
$brand-error: #f02702;
$brand-success: #02f08d;

$black: #000;
$black-900: #2d2d2d;
$black-800: #424242;
$black-700: #565758;
$black-600: #6c6c6c;
$black-500: #ababab;
$black-200: #c0c0c0;
$black-100: #eaeaea;
$white: #fff;

// Media breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
