@import-normalize; //Create-React-App CSS reset
@import 'styles/_reset.scss'; //Eric Meter SCSS Reset & my personal reset
@import 'styles/_variables.scss';
@import 'styles/_mixins.scss';

.App {
	canvas {
		display: block;
		width: 90vmin;
		height: 90vmin;
		border: 1px solid #efefef;
		margin: 50px auto;
	}
}
