@import-normalize; //Create-React-App CSS reset
@import 'styles/_reset.scss'; //Eric Meter SCSS Reset & my personal reset
@import 'styles/_variables.scss';
@import 'styles/_mixins.scss';

.App {
	canvas {
		display: block;
		width: 95vw;
		max-width: 500px;
		height: 95vw;
		max-height: 500px;
		border: 1px solid black;
		margin: 50px auto;
	}
}
